asgiref==3.8.1
blinker==1.9.0
boto3==1.37.13
botocore==1.37.13
click==8.1.8
colorama==0.4.6
coverage==7.8.0
Django==3.2.25
Flask==2.2.2
Flask-Login==0.6.3
Flask-SQLAlchemy==2.5.1
greenlet==3.1.1
gunicorn==23.0.0
itsdangerous==2.2.0
Jinja2==3.1.5
jmespath==1.0.1
MarkupSafe==3.0.2
packaging==25.0
psycopg2==2.9.10
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
pytz==2025.2
s3transfer==0.11.4
six==1.17.0
SQLAlchemy==1.4.46
sqlparse==0.5.3
typing_extensions==4.12.2
urllib3==2.3.0
Werkzeug==2.2.2
